<form class='body'>
    <!-- back groud image-->
    
</form>
<section >
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-md-6 intro">
          <h1>Besoin d'un artisan recommandé&nbsp;?</h1>
          <p class="lead">Grâce à FindYourCraftman, vous n'avez plus à vous soucier de trouver une entreprise ou un artisan local(e).</p>
          <div> 
            <a style="color:#002fff" (click)="openDialog()"><h3> En savoir plus</h3></a> 
        </div>
        </div>

        <div class="col-md-6 intro pull-right form">
          <div class="form-inner">
            <mat-card>
            <form  method="POST">
              <h3 style="margin:0 30px;padding-bottom:15px;font-size:30px;;">Trouver un Artisan</h3>
              <div style="margin:0 40px 0 15px;" class="block-holder">
                    <div id="searchbar">
                      
                      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                            <div >
                                <p style="margin-bottom:0;padding-bottom:0;">Secteurs d'activités</p>
                                <select  class="form-control"  id="activite" [ngModel]="defaultActivity" name="act" required>
                                  <option *ngFor="let cat of categories; let i=index"  value="{{i+1}}" title="cat.titre">{{cat.titre}}</option>
                                </select>
                            </div>
                            
                            <div >
                                <h2></h2>
                                <p style="margin-bottom:0;padding-bottom:0;">Code postal</p>
                                <input class="form-control" name="cp" [ngModel]="defaultCodePostal" class="form-control" type="text" pattern="[0-9]{5}" ngModel required />
                            </div>
                            <div >
                                <h2></h2>
                                <button class="btn btn-hg btn-primary" [disabled]="f.invalid" type="submit" style="background-color:#47566a;">Research</button>
                            </div>
                        </form>
                    </div>
              </div>
            </form>
          </mat-card>
          </div>
        </div>
      </div>
    </div>
</section>


