<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Profil utilisateur</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                      <!-- Put this image as long the user didn't change his profil pictue -->
                    <div width="">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png"  class="rounded-circle" width="150">
                    </div>
                    <a routerLink="#" *ngIf="authservice.isConnected">Edifier</a>
                    <div class="mt-3">
                      <h4>{{user.userartisan.prenom}}</h4>
                      <p class="text-secondary mb-1" *ngIf="user.userartisan.biographie==null && authservice.isConnected; else bio_is">Biographie pas renseigné</p>
                      <p class="text-secondary mb-1" #bio_is> {{user.userartisan.biographie}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                        <h5 class="mb-0">Nom de l'entreprise</h5>
                        <span class="text-secondary">{{user.userentreprise.nom}}</span>
                  </li> 
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                    </svg>Site web</h6>
                    <span class="text-secondary" routerLink="#" >https://bootdey.com</span>
                  </li>
                  <hr> 
                  <div class="text-center"><h5><strong>Gatégorie(s) professionelle(s)</strong></h5></div>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" >
                    <h5 class="mb-0 text-center">Titre</h5>
                    <span class="text-secondary">Dépannage, installation reseau d'eau</span>
                 </li>  

                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nom prenom</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.userartisan.nom}} {{user.userartisan.prenom}} 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.usercompte.email}} 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Télephone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.userartisan.telephone}} 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Adress postale</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.useradresse.adresse_postale}} 
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-12 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Travaux réalisés</h6>
                      <small>Plomberie</small>
                      <h5>description ici</h5>
                      <small>Photos</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Website Markup</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>One Page</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>