
    

<div class="backcolor">
    <div class="container">
    <form>
        <div class='photo'>
            <img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="" alt="">
        </div>
        <div class="edifier" >
            <button class="btn btn-hg btn-primary" style="background-color:#438be9;">Edifier</button>
        </div>
    </form>

    <form class="biography">
        <div class="py-5">
            <h2 class="mt-0 display-4 font-weight-bold">Steve Doe</h2>
            <div class="form">
                I'm a full-stack developer specialised in frontend and backend development 
                for complex scalable web apps. I write about web development on my blog 
                and regularly at various web conferences and meetups. Want to know how I 
                may help your project? Check out my project case studies and resume.
            </div><!--//bio-->   
        </div>
    </form>
    </div>
</div>


