
<mat-dialog-content class="mat-typography">
 
    <div id="site_espace">
        <div id="home_page">
                <div id="home_page">
                    <div class="bandeau  bandeau-pro2">
                        <div class="bloc_texte text-center">
                            <h1 class="titre">Site internet de mise en relation </h1>
                            <div class="texte texte-lg">Solution conçue pour vous les bâtissuers du monde</div>
                             <a  id="signup"> vous particulier Demandez un devis <i class="fa fa-caret-right"></i><br><small>Sans engagement</small></a>   
                        </div>
                    </div>
                </div> 
                <div class="container text-center">
                    <h2>Nos 5 atouts pour votre visibilité</h2>
                    <div class="row ">
                        <div class="col-sm  mb-4">
                            <a data-toggle="collapse" style="color:#002fff">
                                <h3 class="etape">Site personnalisé<br>par une graphiste<br><i class="fa fa-caret-down"></i></h3>
                            </a>
                            
                        </div>

                        <div class="col-sm  mb-4">
                            <a data-toggle="collapse" style="color:#002fff">
                                <h3 class="etape">Mise à jour <br>simple et facile<br><i class="fa fa-caret-down"></i></h3>
                            </a>
                        </div>
                        <div class="col-sm  mb-4">
                            <a data-toggle="collapse" style="color:#002fff">
                                <h3 class="etape">Bouche à oreille sur Internet<br><i class="fa fa-caret-down"></i></h3>
                            </a>
                        </div>
                        <div class="col-sm mb-4">
                            <a data-toggle="collapse" style="color:#002fff">
                                <h3 class="etape">Générez des prospects de qualité<br><i class="fa fa-caret-down"></i></h3>
                            </a>
                        </div>
                        <div class="col-sm  mb-4">
                            <a data-toggle="collapse" style="color:#002fff">
                                <h3 class="etape">Site Web Optimisé <br><i class="fa fa-caret-down"></i></h3>
                            </a>
                        </div>
                    </div>
                </div> 
                <div class="container">                        
                    <h2>Questions </h2>
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingzero">
                                <h3 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsezero" aria-expanded="true" aria-controls="collapsezero">
                                        Pourquoi créer un site internet de mise relation entre artisans et particuliers ? 
                                    </button>
                                </h3>
                            </div>
                            <div id="collapsezero" class="collapse show" aria-labelledby="headingzero" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Aujourd'hui, vos clients démarrent leur <strong>recherche d'un professionnel</strong> en allant sur internet utilisant un <strong>moteur de recherche</strong> . Par conséquent, il est indispensable pour une entreprise d'être <strong>visible sur Web</strong> et bien positionné sur les <strong>recherches locales</strong> effectuées depuis <strong>Google ou Qwant</strong>. La <strong>création du site Internet</strong> est la brique indispensable pour être retrouvé sur Internet.</p>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>                        
            <div class="container">
            <h2 class="text-center">L'équipe à votre service !</h2>
            </div>
        <div class="container_gris text-center">
            <h2 class="titre">Nous contacter</h2>
            <h3>Téléphone :  06 95 33 33 33 </h3>
            <p>Du lundi au vendredi 8H à 12H et 13H à 16H</p>
            <div class="mb-4">
                <br>  <br>  <br>
                <a rel="nofollow"  href="#" class="btn btn-blue">Inscrire mon entreprise</a>
                <br><strong>Gratuite</strong> et <strong>Sans Engagement</strong>
                </div>
             </div>
        <div id="home_page">
        <div class="bandeau bandeau-3 centre">
                <div class="bloc_texte">
                    <h2 class="titre text-center">Notre histoire depuis 2021</h2>
                    <div class="texte">
                        <strong>Il était une fois...</strong><br>
                        ... l'idée folle et farfelue de créer une start-up Internet dans un territoire coupé du monde, à Belfort
                        au coeur des Hautes-Alpes. Pas d'autoroute, pas de TGV et quelques marmottes en été.
                    </div>
                    <div class="texte">
                        <strong>L'idée</strong> : simplifier la relation entre <strong>artisans</strong> et <strong>consommateurs</strong> grâce à Internet.
                        Constatant que la <strong>recherche d'un bon artisan</strong> pour faire des travaux est anxiogène pour les particuliers, nous proposons la
                        possibilité de <strong>commander en ligne son artisan.</strong> 
                    </div>
                    <div class="texte">
                        Nous connaissons la <strong>qualité des prestations des artisans</strong> de notre réseau. C'est notre différence,
                        et c'est cette qualité que nous apportons aux particuliers, <strong>pour que chacun puisse trouver et commander son artisan en toute confiance, et même sans passer par la
                            case devis !</strong>
                    </div>
                </div>
            </div>
        </div>
        </div> 
    </div>
</mat-dialog-content>
<mat-dialog-actions >
  <button mat-button mat-dialog-close style="background-color:#47566a;">retour</button>
  <button mat-button mat-dialog-close style="color:#002fff" routerLink='signup'>Créer votre compte</button>
</mat-dialog-actions>
