<form [formGroup]="ArtisanForm" (submit)=SaveForm()>
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/profil" mat-dialog-close >Profil</a></li>
          <li class="breadcrumb-item active" aria-current="page"> Modification informations personnelles</li>
        </ol>
      </nav>
    <mat-dialog-content class="mat-typography">
     
        <div class="form-row">
            <div class="form-group col-md-6">
            <label >Nom</label>
            <input type="text" class="form-control" formControlName="Nom"
            [ngClass]="{ 'is-invalid': ArtisanForm && artisanValue.Nom.errors }" required>
            <div *ngIf="ArtisanForm && artisanValue.Nom.errors" class="invalid-feedback">
              <div *ngIf="artisanValue.Nom.errors.required">le nom est obligatoire</div>
            </div>
            </div>
            <div class="form-group col-md-6">
            <label >Pernom</label>
            <input type="text" class="form-control" formControlName="Prenom" required>
            <div *ngIf="ArtisanForm && artisanValue.Prenom.errors" class="invalid-feedback">
              <div *ngIf="artisanValue.Prenom.errors.required">le prenom est obligatoire</div>
            </div>
            </div>
        </div>
        <div class="form-group">
            <label >Email</label>
            <input readonly="readonly" type="email, hidden" class="form-control" formControlName="Email">
        </div>
        <div class="form-group">
            <label >Téléphone</label>
            <input type="text" pattern="[0-9]{10}" class="form-control" formControlName="Phone">
          
        </div>
        <div class="form-group">
            <label >Biographie</label>
            <input type="text" class="form-control" formControlName="Bio" >
        </div> 
            
    </mat-dialog-content>

    <mat-dialog-actions >
    <button mat-button mat-dialog-close routerLink="/profil" style="background-color:#47566a;">retour</button>
    <button mat-button  style="background-color:#47566a;" type="submit">valider</button>
    </mat-dialog-actions>

</form>
