<form [formGroup]="ArtisanForm" (submit)=validateForm()>
  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/profil" mat-dialog-close>Profil</a></li>
      <li class="breadcrumb-item active" aria-current="page"> Modification informations personnelles</li>
    </ol>
  </nav>
  <mat-dialog-content class="mat-typography">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nom</label>
        <input type="text" class="form-control" formControlName="Nom"
          [ngClass]="{ 'is-invalid': submitted && personal.Nom.errors }" required>
        <div *ngIf="submitted && personal.Nom.errors" class="invalid-feedback">
          <div *ngIf="personal.Nom.errors.required">le nom est obligatoire</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Prénom</label>
        <input type="text" class="form-control" formControlName="Prenom"
          [ngClass]="{ 'is-invalid': submitted && personal.Prenom.errors }" required>
        <div *ngIf="submitted && personal.Prenom.errors" class="invalid-feedback">
          <div *ngIf="personal.Prenom.errors.required">Le prenom est obligatoire</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input readonly="readonly" type="email" class="form-control" formControlName="Email">
    </div>
    <div class="form-group">
      <label class="mat-label">Numéro télephone (ex: 0612345678)</label>
      <input type="text" pattern="[0-9]{10}" class="form-control" formControlName="Phone"
        placeholder="Entrée votre numéro de téléphone (optionnel)"
        [ngClass]="{ 'is-invalid': submitted && personal.Phone.errors }">
      <div *ngIf="submitted && personal.Phone.errors" class="invalid-feedback">
        <div *ngIf="personal.Phone.errors.pattern">Format incorrect (ex: 0612345678) </div>
      </div>

    </div>
    <div class="form-group">
      <label>Biographie</label>
      <textarea class="form-control" name="story" rows="5" cols="33" formControlName="Bio"></textarea>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close routerLink="/profil" style="background-color:#47566a; color: white;">Annuler</button>
    <button mat-button style="background-color:dodgerblue; color: white;" type="submit">Valider</button>
  </mat-dialog-actions>

</form>