<form [formGroup]="travauxForm" (submit)=validateForm()>

    <mat-dialog-content class="mat-typography">

        <div class="form-row">
            <div class="form-group col-12">
                <label>Description du travail</label>
                <input type="text" class="form-control" formControlName="obj"
                    [ngClass]="{ 'is-invalid': submitted && job.obj.errors }" required>
                <div *ngIf="submitted && job.obj.errors" class="invalid-feedback">
                    <div *ngIf="job.obj.errors.required">champs obligatoire</div>
                </div>
            </div>
            <div class="form-group col-6">
                <label>Date de debut</label>
                <input type="date" class="form-control" formControlName="dd"
                    [ngClass]="{ 'is-invalid': submitted && job.dd.errors }" required>
                <div *ngIf="submitted && job.dd.errors" class="invalid-feedback">
                    <div *ngIf="job.dd.errors.required">champs obligatoire</div>
                </div>
            </div>
            <div class="form-group col-6">
                <label>Date de fin</label>
                <input type="date" class="form-control" formControlName="df"
                    [ngClass]="{ 'is-invalid': submitted && job.df.errors }" required>
                    <div *ngIf="submitted && job.df.errors" class="invalid-feedback">
                        <div *ngIf="job.df.errors.required">champs obligatoire</div>
                        <div *ngIf="job.df.errors.date">Date de fin > ou = à date de debut</div>
                    </div>
            </div>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="annuler()" style="background-color:#47566a; color: white;">Retour</button>
        <button mat-button style="background-color:dodgerblue; color: white;" type="submit">Valider</button>
    </mat-dialog-actions>

</form>