<form [formGroup]="travauxForm" (submit)=SaveForm()>
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/profil" mat-dialog-close >Profil</a></li>
          <li class="breadcrumb-item active" aria-current="page"> Modification ces Travaux </li>
        </ol>
      </nav>
    <mat-dialog-content class="mat-typography">
     
        <div class="form-row">
            <div class="form-group col-12">
                <label >Objectif</label>
                <input type="text" class="form-control" formControlName="obj">
            </div>
            <div class="form-group col-6">
                <label >date de debut</label>
                <input type="date" class="form-control" formControlName="df">
            </div>
            <div class="form-group col-6">
                <label >date de fin</label>
                <input type="date" class="form-control" formControlName="df" >
            </div> 
            <label >Photo : </label>
            <div class="form-group col-12">
                <input style="display:none" type='file' (change)="onFileSelected($event)" #fileInput formControlName="photos"> 
                <button type ="button" (click)="fileInput.click()" routerLink="#" style="background-color:#074ba3;"> Impoter une photo</button>
            </div>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions >
    <button mat-button mat-dialog-close routerLink="/profil" style="background-color:#47566a;">retour</button>
    <button mat-button  style="background-color:#47566a;" type="submit">valider</button>
    </mat-dialog-actions>

</form>

