<form [formGroup]="accountFormGroup" (submit)=SaveForm()>
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="profil" mat-dialog-close >Profil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Echanger votre mot de passe</li>
        </ol>
    </nav>

    <div class="form-group" >
        <label >Ancien mot de passe</label>
        <input type="password" class="form-control" formControlName="AncienPassword" placeholder="Entrer votre ancien mot de passe" required>
    </div>
    
    <div class="form-group">
        <label > Nouveau mot de passe</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Entrer votre nouveau mot de passe"
        [ngClass]="{ 'is-invalid': accountFormGroup && account.password.errors }" required>
      <div *ngIf="accountFormGroup && account.password.errors" class="invalid-feedback">
        <div *ngIf="account.password.errors.required">le mot de passe est obligatoire</div>
        <div *ngIf="account.password.errors.minlength">Minimum 6 caractéres </div>
      </div>
    </div>
    <div class="form-group">
        <label >Confirmer nouveau mot passe</label>
        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="confirmer votre nouveau mot de passe"
        [ngClass]="{ 'is-invalid': accountFormGroup && account.confirmPassword.errors }" required>
      <div *ngIf="accountFormGroup && account.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="account.confirmPassword.errors.required">Champs obligatoire</div>
        <div *ngIf="account.confirmPassword.errors.mustMatch">les mot de passes ne sont pas identique </div>
      </div>
    </div>

    <mat-dialog-actions >
    <button mat-button mat-dialog-close routerLink="/profil" style="background-color:#47566a;">retour</button>
    <button mat-button  style="background-color:#47566a;" type="submit">valider</button>
    </mat-dialog-actions>
</form>
