<form [formGroup]="accountFormGroup" (submit)=validateForm()>
  <nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="profil" mat-dialog-close>Profil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Echanger votre mot de passe</li>
    </ol>
  </nav>
  <div class="form-group">
    <label>Ancien mot de passe</label>
    <input type="password" class="form-control" formControlName="oldPassword"
      placeholder="Entrer votre mot de passe actuelle"
      [ngClass]="{ 'is-invalid': submitted && account.oldPassword.errors }" required>
    <div *ngIf="submitted && account.oldPassword.errors" class="invalid-feedback">
      <div *ngIf="account.oldPassword.errors.required">champs obligatoire</div>
      <div *ngIf="account.oldPassword.errors.notSame">le mot de passe n'est pas bon</div>
    </div>
  </div>
  <div class="form-group">
    <label> Nouveau mot de passe</label>
    <input type="password" class="form-control" formControlName="password"
      placeholder="Entrer votre nouveau mot de passe" [ngClass]="{ 'is-invalid': submitted && account.password.errors }"
      required>
    <div *ngIf="submitted && account.password.errors" class="invalid-feedback">
      <div *ngIf="account.password.errors.required">le mot de passe est obligatoire</div>
      <div *ngIf="account.password.errors.minlength">Minimum 6 caractéres </div>
    </div>
  </div>
  <div class="form-group">
    <label>Confirmer nouveau mot passe</label>
    <input type="password" class="form-control" formControlName="confirmPassword"
      placeholder="confirmer votre nouveau mot de passe"
      [ngClass]="{ 'is-invalid': submitted && account.confirmPassword.errors }" required>
    <div *ngIf="submitted && account.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="account.confirmPassword.errors.required">Champs obligatoire</div>
      <div *ngIf="account.confirmPassword.errors.mustMatch">les mot de passes ne sont pas identique </div>
    </div>
  </div>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close routerLink="/profil"
      style="background-color:#47566a;color: white;">Retour</button>
    <button mat-button style="background-color:dodgerblue; color: white;" type="submit">Valider</button>
  </mat-dialog-actions>
</form>