<form>
  <!-- background-->
  <form class="background " (submit)="submitAllFroms()" method="POST">
    <div class="formdiv">
      <h1 class="text">Une solution simple pour développer votre activité</h1>
      <h1 class="text"><strong>Inscrivez-vous</strong> </h1>
      <div class="card bg-secondary mb-3">
        <mat-horizontal-stepper linear #stepper>


          <mat-step [stepControl]="personalFormGroup" label="Vos informations">

            <form [formGroup]="personalFormGroup">
              <ng-template matStepLabel>Personnelles</ng-template>
              <div class="container">
                <div class="row">
                  <div class="mat-form-field col-6">
                    <label class="mat-label">Nom</label>

                    <input class="form-control" formControlName="nom" placeholder="Entrée votre nom"
                      [ngClass]="{ 'is-invalid': personalSubmitted && personal.nom.errors }" required>
                    <div *ngIf="personalSubmitted && personal.nom.errors" class="invalid-feedback">
                      <div *ngIf="personal.nom.errors.required">le nom est obligatoire</div>
                    </div>
                  </div>
                  <div class="mat-form-field col-6">
                    <label class="mat-label">Prenom</label>
                    <input type="text" class="form-control" formControlName="prenom" placeholder="Entrée votre prénom"
                      [ngClass]="{ 'is-invalid': personalSubmitted && personal.prenom.errors }" required>
                    <div *ngIf="personalSubmitted && personal.prenom.errors" class="invalid-feedback">
                      <div *ngIf="personal.prenom.errors.required">le prenom est obligatoire</div>
                    </div>
                  </div>
                </div>
                <div class="mat-form-field">
                  <label class="mat-label">Biographie</label>
                  <input type="fieldText" class="form-control" formControlName="biographie"
                    placeholder="Entrée votre biographie (optionnel)">
                </div>
                <div class="mat-form-field">
                  <label class="mat-label">Numéro télephone (ex: 0612345678)</label>
                  <input type="text" pattern="[0-9]{10}" class="form-control" formControlName="telephone"
                    placeholder="Entrée votre numéro de téléphone (optionnel)"
                    [ngClass]="{ 'is-invalid': personalSubmitted && personal.telephone.errors }">
                  <div *ngIf="personalSubmitted && personal.telephone.errors" class="invalid-feedback">
                    <div *ngIf="personal.telephone.errors.pattern">Format incorrect (ex: 0612345678) </div>
                  </div>
                </div>

                <div>
                  <h1></h1>
                  <button mat-button (click)="submitPersonal(stepper)">Suivant</button>
                </div>
              </div>
            </form>

          </mat-step>

          <mat-step [stepControl]="businessFormGroup">
            <form [formGroup]="businessFormGroup">
              <ng-template matStepLabel>Professionnelles</ng-template>

              <div class="container">
                <div class="row">
                  <div class="mat-form-field col-6">
                    <label class="mat-label">Nom de votre entreprise</label>
                    <input type="text" class="form-control" type="text"
                      [ngClass]="{ 'is-invalid': businessSubmitted && business.nom_entreprise.errors }"
                      formControlName="nom_entreprise" placeholder="Entrée le nom de votre entreprise" required>
                    <div *ngIf="businessSubmitted && business.nom_entreprise.errors" class="invalid-feedback">
                      <div *ngIf="business.nom_entreprise.errors.required">Nom d'entreprise obligatoire</div>
                    </div>
                  </div>
                  <div class="mat-form-field col-6">
                    <label class="mat-label">Secteurs d'activités</label>
                    <select  id="activite" class="form-control" formControlName="act" placeholder="Veuillez choisir" name="act"
                      [ngClass]="{ 'is-invalid': businessSubmitted && business.act.errors }" required>
                      <option  *ngFor="let cat of categories; let i=index" value="{{i+1}}" title="cat.titre">
                        {{cat.titre}}
                      </option>
                    </select>
                    <div *ngIf="businessSubmitted && business.act.errors" class="invalid-feedback">
                      <div *ngIf="business.act.errors.required">le secteur d'activités est obligatoire</div>
                    </div>
                  </div>
                </div>
                <div class="mat-form-field">
                  <label class="mat-label">Adresse Postale</label>
                  <input matInput type="text" class="form-control" placeholder="Entrer l'adresse postale de votre entreprise"
                    formControlName="addr"[ngClass]="{ 'is-invalid': (businessSubmitted && business.addr.errors) || (businessSubmitted && addrError) }" [matAutocomplete]="auto"
                    required>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                      <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let addr of adressesFrance" [value]="addr">
                          <span>{{addr}}</span>
                        </mat-option>
                      </ng-container>
                    </mat-autocomplete>
                  <div *ngIf="(businessSubmitted && business.addr.errors) || (businessSubmitted && addrError)" class="invalid-feedback">
                    <div *ngIf="business.addr.errors && business.addr.errors.required">l'adresse postale est obligatoire</div>
                    <div *ngIf="addrError">Adresse invalid : veuillez choisir une adresse proposée</div>
                  </div>
                </div>
                <div>
                  <h1></h1>
                  <button mat-button (click)="backToPersonal(stepper)">Retour</button>
                  <button mat-button (click)="submitBusiness(stepper)">Suivant</button>
                </div>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="accountFormGroup" label="Vos informations">
            <form [formGroup]="accountFormGroup">
              <ng-template matStepLabel>Compte</ng-template>


              <div class="container">

                <div class="mat-form-field">
                  <label class="mat-label" disabled="true">Email</label>
                  <input type="email" class="form-control" formControlName="email" placeholder="Entrée votre email"
                    [ngClass]="{ 'is-invalid': accountSubmitted && account.email.errors }" required>
                  <div *ngIf="accountSubmitted && account.email.errors" class="invalid-feedback">
                    <div *ngIf="account.email.errors.required">le email est obligatoire</div>
                    <div *ngIf="account.email.errors.email">votre email n'est pas valide</div>
                    <div *ngIf="account.email.errors.exists">Cette email est déjà utilisé</div>

                  </div>
                </div>
                <div class="mat-form-field">
                  <label class="mat-label">Mot de passe</label>
                  <input type="password" class="form-control" formControlName="password"
                    placeholder="Entrée un mot de passe"
                    [ngClass]="{ 'is-invalid': accountSubmitted && account.password.errors }" required>
                  <div *ngIf="accountSubmitted && account.password.errors" class="invalid-feedback">
                    <div *ngIf="account.password.errors.required">le mot de passe est obligatoire</div>
                    <div *ngIf="account.password.errors.minlength">Minimum 6 caractéres </div>
                  </div>
                </div>

                <div class="mat-form-field">
                  <label class="mat-label">Confirmation de mot de passe</label>
                  <input type="password" class="form-control" formControlName="confirmPassword"
                    placeholder="Entrée à nouveau le mot de passe"
                    [ngClass]="{ 'is-invalid': accountSubmitted && account.confirmPassword.errors }" required>
                  <div *ngIf="accountSubmitted && account.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="account.confirmPassword.errors.required">Champs obligatoire</div>
                    <div *ngIf="account.confirmPassword.errors.mustMatch">les mot de passes ne sont pas identique </div>
                  </div>
                </div>

                <div>
                  <h1></h1>
                  <button mat-button (click)="backToBusiness(stepper)">Retour</button>
                  <button mat-button (click)="submitAccount(stepper)">Suivant</button>
                </div>
              </div>
            </form>

          </mat-step>

          <mat-step>
            <div class="container">
              <ng-template matStepLabel>Finalisation</ng-template>
              <h1>L'ensemble de vos informations saisi ont été pris en compte </h1>
              <p>Veuillez vérifier vos informations avant de finaliser votre inscription</p>
              
            <div *ngIf="accountSubmitted" >
              <mat-card>
                <mat-card-title>Personnelles</mat-card-title>
                <mat-list-item>nom: {{data.nom}}</mat-list-item>
                  <mat-list-item>prenom: {{data.prenom}}</mat-list-item>
                  <mat-list-item>biographie: {{data.bio}}</mat-list-item>
                  <mat-list-item>téléphone: {{data.phone}}</mat-list-item>
              </mat-card>
              <br>
              <mat-card>
                <mat-card-title>Professionnelles</mat-card-title>
                <mat-list-item>secteurs d'activité: {{getCat(data.act)}} </mat-list-item>
                  <mat-list-item>nom d'entreprise: {{data.entreprise}} </mat-list-item>
                  <mat-list-item>adresse postale: {{data.addr}}</mat-list-item>
              </mat-card>
              <br>
              <mat-card>
                <mat-card-title>Compte</mat-card-title>
                <mat-list-item>email: {{data.email}}</mat-list-item>                  
              </mat-card>
                
              

            </div>
              
              <div>
                <button mat-button (click)="backToAccount(stepper)">Retour</button>
                <button mat-button type="submit" class="btn btn-primary btn-block">Confirmer la creation de votre compte</button>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>

      </div>

    </div>
  </form>
</form>